* {
  box-sizing: border-box;
}
section{
  background-color: darkgrey;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid black;
}
body {
  background-color: white;
  font-family: serif;
  width: 99%;
}
h1 {
  color: black;
  font-family: serif;
  text-align: center;
}
h2{
  color: black;
  font-family: serif;
  margin-bottom: 0px;
  text-align: right;
}
p {
  color: black;
  clear: right;
  margin-top: 0px;
}

.title1{
  background-color: lightpink;
  width: 30%;
  float: right;
  border: 1px solid black;
}

.title2{
  color: white;
  background-color: brown;
  width: 30%;
  float: right;
  border:  1px solid black;
}

.title3{
  background-color: khaki;
  width: 30%;
  float: right;
  border:  1px solid black;
}


@media (min-width: 992px){
 
  }
@media (min-width: 768px) and (max-width: 991px){
  
}
@media (max-width: 767px){
 
}
